# This file is used by `uv sync` to install and manage project dependencies.
# Add your required packages here, one per line.
#
# Expected for this project:
langchain
streamlit
qdrant-client
ragas
python-dotenv
